.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fpt-logo {
  display: flex;
}

.logo-assm {
  margin-left: 0
}

.user-name {
  margin-right: 10px
}

.sider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  
}

.sider .ant-btn.ant-btn-lg {
  width: 170px;
}

.logout {
  position: fixed;
  bottom: 10px;
  border-top: 1px solid #8A8585;
  padding: 20px
}

.attendance-tables {
  display: flex;
  justify-content: space-between;
}

.attendance-tables .attendance-table {
  width: 72%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.attendance-tables .attendance-table input {
  width: 25%;
  margin-bottom: 1vh;
  align-self: flex-end;
}

.attendance-tables .result-table {
  width: 25%;
}

.attendance-tables .result-table .ant-btn {
  margin-bottom: 1vh;
}

.submit-attendance {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.year-selector, .week-selector, .selector{
  display: flex;
  margin: 0px 10px 10px 0;
}

.year-selector .year-button {
  display: flex;
  flex-direction: column;
  background-color:  #F0F0F0
}

.year-selector .year-button .ant-btn {
  height: 15px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  border: none;
  background-color:  #F0F0F0
}
.year-selector .year-button .ant-btn .anticon {
  color: #BFBFBF;
}

.year-selector .ant-input-number-group-addon {
  background-color: #F0F0F0;
  border: none;
  border-radius: 0;
}

.course-attendance .ant-table-tbody tr td:first-of-type {
  border: none
}

.course-attendance .ant-table-tbody tr:first-child td:first-of-type,
.course-attendance .ant-table-tbody tr:nth-child(2) td:first-of-type{
  background-color: #FAFAFA;
  border-bottom: 1px solid var(--conditional-divider, rgba(0, 0, 0, 0.06));
}

.title-login {
  margin-top: 20px
}

.form-login .ant-col, .title-login .ant-col { 
  display: flex;
  justify-content: center
}

.title-login .ant-typography,
.form-login .ant-card{
  width: 400px;
  
}

.form-login .ant-card {
  background-color: #fdfcfc

}

.form-login .ant-col .ant-select {
  width: 200px;
  margin-bottom: 15px;
  
}
